/* цвет основного текста 212121 */
/* абзац 757575 */
/* белый цвет FFFFFF */
/* хувер 2196F3 */
/* фон главный FFFFFF */
/* фон футер 000000 */

:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #000000;
  --section-accent-color: #ffffff;
}

/* Body */

.body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: "roboto";
}

/* Header-Navigation */
.header-nav a:hover,
.header-nav a:focus {
  color: var(--accent-color);
}

.header-nav a {
  color: var(--primary-text-color);
}
/* Button */
.button {
  color: var(--primary-text-color);
}
.button:hover,
.button:focus {
  color: var(--section-accent-color);
  background-color: var(--accent-color);
}

/* Hero-Section*/
.hero-section {
  background-color: var(--secondary-background-color);
  color: var(--section-accent-color);
}

/* Logo */
.accent-logo {
  color: var(--accent-color);
}
.header-logo {
  color: var(--secondary-background-color);
}

/* Footer */
.footer {
  color: var(--section-accent-color);
  background-color: var(--secondary-background-color);
}
.footer .link {
  color: var(--section-accent-color);
}
/* Paragraph */
p {
  color: var(--paragraph-text-color);
}

.header-link a {
  color: var(--paragraph-text-color);
}

.header-link a:hover,
.header-link a:focus {
  color: var(--accent-color);
}
